.slide-content {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  p {
    font-size: 16px;
    color: #ccc;
  }
  
  ion-button {
    --background: #6e44ff;
    --color: white;
  }
  