<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <h2>Bienvenido a </h2>
      <h2 class="gradient-text"> FitFocus</h2> <!-- Clase añadida para el degradado -->
      <div class="image-container">
        <img src="assets/mancuerna-de-biceps.png" alt="FitFocus Logo" class="slide-image" />
      </div>
      <p class="above-button-text">FitFocus es tu nuevo aliado para llevar una dieta equilibrada y un estilo de vida saludable.</p>
    </div>
    <div class="swiper-slide">
      <h3>Consejos personalizados</h3>
      <div class="image-container">
        <img src="assets/salud.png" alt="FitFocus Logo" class="slide-image2" />
      </div>
      <p></p>
      <p class="above-button-text">Encuentra consejos de nutrición que se adapten a tu estilo de vida</p>
    </div>
    <div class="swiper-slide">
      <h4>Unete a la comunidad, desafiate a ti mismo!</h4>
      <p>
      </p>
      <div class="image-container">
        <img src="assets/comunidad.png" alt="FitFocus Logo" class="slide-image3" />
      </div>
      <p class="above-button-text">¡Únete ahora!</p>
      <ion-button expand="block" (click)="finishOnboarding()">Registrarme!</ion-button>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
