<ion-header>
  <ion-toolbar>
    <ion-title>Chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let message of messages" [ngClass]="{'user-message': message.role === 'user', 'assistant-message': message.role === 'assistant'}">
    <strong>{{ message.role }}:</strong> {{ message.content }}
  </div>
  <ion-item>
    <ion-input [(ngModel)]="userInput" placeholder="Escribe tu mensaje..."></ion-input>
    <ion-button (click)="sendMessage()">Enviar</ion-button>
  </ion-item>
</ion-content>