<!-- register.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()">
    <ion-input type="text" [(ngModel)]="user.username" name="username" placeholder="Nombre de usuario" required></ion-input>
    <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña" required></ion-input>
    <ion-input type="text" [(ngModel)]="user.fullName" name="fullName" placeholder="Nombre completo" required></ion-input>
    <ion-input type="number" [(ngModel)]="user.weight" name="weight" placeholder="Peso" required></ion-input>
    <ion-input type="number" [(ngModel)]="user.height" name="height" placeholder="Altura" required></ion-input>
    <ion-input type="number" [(ngModel)]="user.age" name="age" placeholder="Edad" required></ion-input>
    <ion-input type="text" [(ngModel)]="user.gender" name="gender" placeholder="Género" required></ion-input>
    <ion-input type="text" [(ngModel)]="user.goal" name="goal" placeholder="Objetivo" required></ion-input>
    <ion-input type="number" [(ngModel)]="user.physicalActivityLevel" name="physicalActivityLevel" placeholder="Nivel de actividad física" required></ion-input>
    
    <ion-button type="submit">Registrar</ion-button>
  </form>
</ion-content>
