body {
    background-color: #1a1a2e; /* Color de fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

 
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Asegura que el contenido ocupe el 100% de la altura */
  }
  
  .form-container {
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
    max-width: 400px; /* Establece un ancho máximo para el formulario */
    padding: 20px; /* Agrega un poco de espacio interno */
  }
  
  ion-item {
    width: 100%; /* Cada ion-item ocupa todo el ancho */
    margin-bottom: 15px; /* Espacio entre los elementos */
  }
  
  .register-button {
    margin-top: 20px; /* Espacio superior para separación */
  }

  .input-container[_ngcontent-ng-c648470614] {
    background: #ffffff; // Fondo blanco para el campo de entrada
    border-radius: 10px; // Bordes redondeados solo en el input
    padding: 2px 16px; // Espaciado interno para el input
    color: #000000; // Color del texto en el input
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra sutil
}
  
.custom-item {
    width: 100%; /* Ocupa todo el ancho */
    --background: transparent; /* Fondo transparente en el ion-item */
    --padding-start: 0;
    --padding-end: 0;
    margin: 10px 0; /* Espaciado entre items */
  }
  
  .input-container {
    background: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 1px 16px; /* Espaciado interno */
    color: #000000; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 100%; /* Abarca todo el ancho */
  }
  
  .custom-label {
    color: #ffffff; /* Color blanco para los labels */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px; /* Separación del input */
  }

  
  ion-button {
    margin-top: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }

  ion-button.register-button {
    margin-top: 20px; /* Cambiado a 20px para separar más del texto anterior */
    margin-bottom: 10px; /* Ajustado para espacio adecuado */
    --background: rgba(255, 255, 255, 0.1);
    --border-color: rgba(255, 255, 255, 0.5);
    --border-radius: 20px; /* Bordes redondeados para el botón ovalado */
    color: white;
    font-weight: bold;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
    text-transform: none;
  }